name: Build on Windows
on: [push, pull_request]
jobs:
  windows:
    defaults:
      run:
        shell: cmd
    strategy:
      matrix:
          arch: [x64, x86]
          os: [windows-2022]
          ts: [nts, zts]
          version: ['8.3', '8.4', '8.5']
          exclude:
            - { version: '8.4', arch: x64, ts: zts }
            - { version: '8.4', arch: x86, ts: nts }
            - { version: '8.4', arch: x86, ts: zts }
    runs-on: windows-latest
    steps:
      - name: Checkout memcached
        uses: actions/checkout@v5
      - name: Setup PHP
        id: setup-php
        uses: php/setup-php-sdk@v0.11
        with:
          version: ${{matrix.version}}
          arch: ${{matrix.arch}}
          ts: ${{matrix.ts}}
          deps: zlib
          cache: true
      - name: Fetch libmemcached
        run: |
          set MEMCACHED_FILENAME=libmemcached-1.1.4-${{steps.setup-php.outputs.vs == 'vs17' && 'vs16' || steps.setup-php.outputs.vs}}-${{matrix.arch}}.zip
          curl -OLs https://downloads.php.net/~windows/pecl/deps/%MEMCACHED_FILENAME% && 7z x %MEMCACHED_FILENAME% -o..\deps
      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{matrix.arch}}
          toolset: ${{steps.setup-php.outputs.toolset}}
      - name: phpize
        run: phpize
      - name: configure
        run: configure --enable-memcached --enable-memcached-session --enable-memcached-json --with-prefix=${{steps.setup-php.outputs.prefix}}
      - name: make
        run: nmake
